/*overriding or specificity->anchor inside h1 */

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
    /* top right bottom left */

}



.post>.date {
    float: right;
}


.post {
    margin-bottom: 70px;
}




.post>.date {
    float: right;
}